<div class="single-testimonial">
    <div class="testimonial-text">
      <i class="fa-solid fa-quote-left"></i>
      <p>Whitepate is designed as a collaboration tool for businesses that is a full project management solution.</p>
    </div>
    <div class="testimonial-author">
        <div class="author-img">
         <img src="img/avater.png" alt="">
        </div>
        <div class="author-text">
          <h3>Oberon Shaw, MCH</h3>
          <p>Head of Talent Acquisition, North America</p>
        </div>
    </div>